.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid teal;
}
.logo{
    width: 120px;
}

.navbar > ul{
   display: flex;
   list-style-type: none;
   padding: 10px 50px;
}

.navbar >ul >li{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: teal;
}

.search{
    padding: 20px;
}

.resturant-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 200px;
    height: 300px;
    border: 1px solid teal;
    padding: 10px;
    margin: 5px;
}

.res-card:hover{
    border: 3px solid teal;
    cursor: pointer;
}

.res-card-image{
    width: 200px;

}

.filter{
    padding: 10px;
    display: flex;
}

.filter-btn{
   cursor: pointer;
   height: 30px;
   padding: 20px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.shimmer-card{
    height: 300px;
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
}

.login-button{
    margin: 10px;
    cursor: pointer;
}